		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Industry Links</h3>
									<ul class="links">
										<li><a href="http://www.hotwater.com/" target="_blank">A.O. Smith Water Heaters</a></li>
										<li><a href="http://www.americanstandard-us.com/" target="_blank">American Standard</a></li>
										<li><a href="http://www.bannerfaucets.com/" target="_blank">Banner Faucets</a></li>
										<li><a href="http://www.deltafaucet.com/" target="_blank">Delta</a></li>
										<li><a href="http://www.us.kohler.com/" target="_blank">Kohler</a></li>
										<li><a href="http://www.moen.com/" target="_blank">Moen</a></li>
										<li><a href="http://www.tanklesswaterheater.com/" target="_blank">Niagra Tankless Water Heaters</a></li>
									</ul>
								</section>
								<!--<section class="6u">
									<h3>More Links to Stuff</h3>
									<ul class="links">
										<li><a href="#">Duis neque nisi dapibus</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan sed</a></li>
										<li><a href="#">Mattis et sed accumsan</a></li>
										<li><a href="#">Duis neque nisi sed</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum amet varius</a></li>
									</ul>
								</section>-->
							</div>
						</div>
						<section class="6u">
							<h3>Get In Touch</h3>
							<form action="http://formspree.io/dstamen@gmail.com" method="POST">
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="6u">
										<input type="text" name="phone" id="phone" placeholder="Phone" />
									</div>
									<div class="6u">
									<input type="text" name="_gotcha" style="display:none" />
								</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
			<!--			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					-->
					<li><a href="https://www.facebook.com/pages/Stern-Brothers-Plumbing-Supply/146063542109243"  target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

				</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Stern Brothers Plumbing Supply. All rights reserved</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li><li> Jekyll Template: <a href="http://cloudcannon.com" target="_blank">Cloud Cannon</a></li>
						</ul>
					</div>

			</div>

	</body>
</html>
